@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Pacifico&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
  font-weight: 400;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #008080;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #00b6b6;
}

a {
  text-decoration: none !important;
}

a:hover {
  box-shadow: none;
}

ul {
  list-style: none !important;
}

img {
  vertical-align: bottom;
}

.container {
  width: 70%;
  padding: 15px 0px;
  margin: 0 auto;
}

.errorText {
  color: red;
}
button:disabled {
  cursor: not-allowed;
  fill: blur(1px);
}
