@import "/src/media.scss";

.card {
  &__box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 50px;
    padding-top: 30px;

    @include media(1300) {
      column-gap: 25px;
    }

    @include media(1280) {
      // padding-left: 20px;
      // padding-right: 20px;
    }

    @include media(665) {
      justify-content: center;
    }
  }
}

.cardbox__Link {
  text-align: center;
}

.cardBox__div {
  width: 300px;
  height: 100%;
  background: #ffffff;
  border-radius: 20px;
  box-shadow: 0 0 10px 10px #efefef;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  position: relative;
  textarea,
  input {
    width: 100%;
    border: none;
    padding: 5px 10px;
    text-overflow: ellipsis;
    &:read-only {
      outline: none;
      pointer-events: none;
      resize: none;
    }
  }
  select,
  span {
    padding: 5px 10px;
  }
  .changeImageHolder {
    position: relative;
    flex: 1;
    padding: 10px;
    a {
      display: block;
      height: 100%;
      user-select: none;
    }
    .actionButtons {
      display: flex;
      justify-content: space-between;
      column-gap: 10px;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 99;
      color: #008080;
    }
    label {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      backdrop-filter: blur(2px);
      background-color: rgba(0, 0, 0, 0.2);
      display: grid;
      place-items: center;
      color: white;
      border-radius: 10px;
    }
  }
}
.cardBox {
  .loading {
    &::after {
      content: "Loading...";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #00000049;
      color: white;
      font-weight: 600;
      display: grid;
      place-items: center;
    }
  }
}

.cardBox__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0 auto;
  border-radius: 10px;
}

.cardbox__price-div {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cardBox__title {
  font-size: 24px;
  // margin-top: 15px;
}

.cardbox__txt {
  color: #d2d2d2;
  font-size: 17px;
  margin-top: 5px;
  & span {
    color: #a0a0a0;
    font-weight: 500;
  }
}

.cardbox_line {
  width: 100%;
  height: 2px;
  background: #008080;
  margin-top: 10px;
}

.cardbox__price {
  color: rgb(28, 28, 28);
  font-size: 20px;
  font-weight: 400;
}

.cardbox__fv {
  font-size: 25px;
  color: #008080;
}

.cardbox__text {
  font-size: 15px;
  color: #a9a9a9;
  margin-top: 10px;
  width: 100%;
  height: 100px;
}

.cardbox__input {
  font-size: 20px;
  margin-top: 10px;
}

.cardbox__link {
  width: 100%;
  background: #008080;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  margin-top: 20px;
  border-radius: 10px;
  border: none;
  color: #ffffff;
  cursor: pointer;
  font-size: 17px;
  letter-spacing: 1px;
  position: relative;
  overflow: hidden;

  &:hover span {
    right: 0;
  }
}

.cardbox__span {
  right: -41px;
  font-size: 18px;
  position: absolute;
  display: grid;
  align-content: center;
  padding: 14.5px 12px;
  border-radius: 0 11px 11px 0;
  top: 0;
  bottom: 0;
  background: #00a8a8;
  transition: 0.3s;
}
